*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color:#f8f8f8;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* #navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(37, 33, 33);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navLink{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #333;
  flex-wrap: wrap;
}
.left-navLink{
  display: flex;
  color: white;
  
}
.left-navLink span{
  color: aqua;
}
.right-navLink{
  width: 330px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
}
.right-navLink ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
  list-style: none;
}

 .nav_class{
  color: white;
  text-decoration: none;
}

.nav_class:hover{
    color: rgb(247, 13, 52);
}


.container{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    color: black;
}
#changing-text {
    font-weight: bold;
    color: darkblue;
    border-right: 2px solid darkblue;
    animation: blink 0.8s infinite;
    white-space: nowrap;
  }
  
  @keyframes blink {
    0% { border-color: darkblue; }
    50% { border-color: transparent; }
    100% { border-color: darkblue; }
  }
  
.myBio{
    width: auto;
    height: auto;
    /* background-color: aqua; */
    position: absolute;
    left: 218px;
}

.myBio h1 span{
   color:blue;
   font-size: 35px;
   /* font-weight: 100; */
   
}

.myBio p{
    width: 400px;
    height: auto;
    /* background-color: pink; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-style: italic;
    
}

.div-img{
    width: 300px;
    height: 250px;
    /* background-color: aqua; */
    /* border-radius: 30px; */
    position: absolute;
    left: 600px;
    border-radius: 50%;
}
.myImage{
    border: none;
    background:none;
    /* padding-left: 300px; */
    position: absolute;
    top: -35px;
    /* bottom: px; */
    /* left: 600px; */
    /* border-radius: 50%; */
    /* transform: rotate(0deg); */
    /* border-radius: 50%; */
}


.btn{
    width: 300px;
    height: 50px;
    /* background-color: yellow; */
    position: relative;
    top: 120px;
    left: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hireBtn{
    width: 70px;
    height: 30px;
    background-color: rgb(11, 11, 20);
    color: aliceblue;
    border: none;
    transition: transform 0.3s ease;
    border-radius: 8px;   
}
.hireBtn a{
    color: white;
    text-decoration: none;
}
.experienceBtn a{
    text-decoration: none;
}
.experienceBtn{
    height: 30px;
    width: 100px;
    margin-left: 80px;
    /* background-color: darkblue; */
    color: darkblue;
    border: 2px solid darkblue;
    /* border: none; */
    transition: transform 0.3s ease;
    border-radius: 6px;
}
.experienceBtn:hover{
    background-color: orangered;
    /* border-bottom: 3px solid black; */
    box-sizing: border-box;
    transform: scale(1.1);
    border: none;
}
.hireBtn:hover{
    /* width: 80px; */
    /* border: 3px solid rgb(70, 25, 155); */
    background-color: orangered;
    box-sizing: border-box;
    transform: scale(1.1)
}


.social-media nav{
    width: 150px;
    height: 30px;
    /* background-color: blue; */
    position: absolute;
    top: 450px;
    left: 270px;
    display: flex;
    justify-content: space-around;
    /* color: aliceblue; */
    
    gap: 13px;
    
}
#social-insta{
    width: 25px;
    border-radius: 50%;
    border: 1px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    
}
#social-insta:hover{
     color: blue;
}
#social-facebook{
    width: 25px;
    border-radius: 50%;
    border: 1px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    
}
#social-facebook:hover{
    color: blue;
}
#social-link{
    width: 25px;
    border-radius: 50%;
    border: 1px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
#social-link:hover{
    color: blue;
}

main hr{
    width: 100%;
    height: 0px;
    margin-top: 20px;
    color: #a89b9b;
}
.motivation-head{
    width: auto;
    height: 50px;
    position: relative;
    background-color: aqua;
    font-weight: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin: 20px 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.main-section{
    height: auto;
    width: auto;
    background-color: #f0e9e9;
    /* background-image: url("image_1.jpeg"); */
    background-size: cover;
    margin:  40px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    box-sizing:border-box ;
}
.section-img1{
    height: 250px;
    width: 280px;
    background-image: url("image_1.jpeg");
    background-size: cover;
    padding-left: 20px;
    
}
.section-img1:hover{
    box-sizing: border-box;
    transform: scale(1.1);
    border: none;
}
.section-img2{
    height: 250px;
    width: 280px;
    background-image: url("image_5.jpeg");
    background-size: cover;
}
.section-img2:hover{
    box-sizing: border-box;
    transform: scale(1.1);
    border: none;
}
.section-img3{
    height: 250px;
    width: 280px;
    background-image: url("image_3.jpeg");
    background-size: cover;
}
.section-img3:hover{
    box-sizing: border-box;
    transform: scale(1.1);
    border: none;
}
.section-img4{
    height: 250px;
    width: 280px;
    background-image: url("image_4.jpeg");
    background-size: cover;   
}
.section-img4:hover{
    box-sizing: border-box;
    transform: scale(1.1);
    border: none;
}
.sec-section{
    height: auto;
    width: auto;
    /* background-image: url("image_3.jpeg"); */
    background-color: #f0eeee;
    margin: 40px ;
    padding: 20px;
   
 

}
.sec-section-div {
    height: auto;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}
#sec-image{
    width: 100%;
    height: 330px;
     
}

.footer {
    width: 100%;
    min-height: 250px;
    max-width: 100%;
    background-color: #030202;
    box-shadow: 20px 0 2px 2px rgba(216, 216, 230);
    margin-top: 20px ;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}


.footer p {
    width: 280px;
    height: auto;
    /* background-color: aqua; */
    /* margin: 50px; */
    /* margin-top: 20px; */
    padding: 25px 0 0 100px;
    font-size: 10px;
}
.my-socialLink{
    width: 100px;
    height: auto;
    /* background-color: red; */
    padding: 0 0 0 20px;
    margin: 0 0 0 150px;
    text-decoration: none;
    font-size: 10px;
    /* color: white; */
}
.my-link{
    text-decoration: none;
    list-style: none;
}
.my-link h3 {
    width: 100px;
    /* background-color: aqua; */
    padding-bottom: 5px;
    
}
.my-link li{
    padding-bottom: 10px;
}
.my-link li a{
    /* list-style: none; */
    text-decoration: none;
    color: rgb(190, 183, 183);
    margin-bottom: 8px;
}
.my-link li a:hover{
    border-bottom: 2px solid white;
}

.pages {
    width: 100px;
    padding-left: 20px;
    list-style: none; 
    margin-left: 150px;
    font-size: 10px;
    
 }
 
 .pageLinks {
    text-decoration: none;
 }

 .pages li {
    list-style: none; 
    margin-bottom: 8px; 
    padding-top: 2px;
 }
 
 .pages li a {
    text-decoration: none;  
    color: rgb(190, 183, 183);         
    font-size: 10px;
  }
 

 .pages li a:hover{
    border-bottom: 2px solid white;
 }